h4 {
    font-size: 2rem;
}

img {
    height: 70%;
    width: auto;
}

div.comic {
    background-color: #FFFFE0;
    padding: 2rem;
    margin-bottom: 3rem;
    border-radius: 8px;
    box-shadow: 0 10px 10px 0;
}

#searchTool-link:hover, #faveComics-link:hover{
    color: red;
    font-style: underline;
}

#searchResults li {
    list-style-type: none;
}

ul, h2 {
    align-items: center;
}

#searchResults, .comic, h3 {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

.comic h2 {
    margin: 2rem 0 2rem 0;
}

.save-btn {
    border: solid 10px black;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2px;
    font-size: 16px;
    cursor: pointer;
    display: block;
  }
  
.save-btn:hover {background: #eee;}

.loader {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
    position: absolute;
}

.loader > div {
    height:100px;
    width: 100px;
    border: 15px solid grey;
    border-top-color: white;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}