.loader {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: black;
    position: absolute;
}

.loader > div {
    height:100px;
    width: 100px;
    border: 15px solid grey;
    border-top-color: white;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}

@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}

html {
    scroll-behavior: smooth;
    font-size: 16px;

}

body {
    font-family: "PT Sans", sans-serif;
    margin: 0;
    display: grid;
    grid-template-columns: auto 0;
}

h1 {
    font-size: 1.7rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-size: 0.9rem;
    font-weight: normal;
}

h4 {
    font-size: 2rem;
}

.content {
    padding: 15%;
}

.links:hover{
    text-decoration: underline;
    color: blue;
    background-color: lightblue;
    width: 10rem;

}

.search-posts, .container, .bookmarks {
    display: block;
    overflow: auto;
    margin: auto;
    text-align: center;
}

img {
    height: 70%;
    width: auto;
}

div.comic {
    background-color: #FFFFE0;
    padding: 2rem;
    margin-bottom: 3rem;
    border-radius: 8px;
    box-shadow: 0 10px 10px 0;
}

#searchResults li, #faveComics li{
    list-style-type: none;
}

ul, h2 {
    align-items: center;
}

#searchResults, .comic, #faveComics{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    font-family: "PT Sans", sans-serif;;
    border-radius: 8px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.9rem;
    font-size: 16px;
    cursor: pointer;
    display: block;
}

button.saved-btn {
    color: white;
    background-color: green;
  }

button.unsaved-btn {
    color: black;
}

button:hover{
    background-color: black;
    color: white;
}


